<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h2><%= @latinized_text.piglatinize(user_input) %></h2>
  </body>
</html>

